@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: wheat; border-radius:60px;" >
    <h1>منصة إلكترونية لجباية الفواتير</h1>
    <p class="lead"> جباية (كهرباء / هاتف / مياه) </p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>خدمات الكهرباء</h2>
        <div class="row">
            <div class="col-md-6">
                <a href="~/E_Counter/ViewCounter" class="navbar-brand">
                    <h4>الاستعلام عن الاستهلاك</h4>
                </a>

            </div>
            <div class="col-md-6">
                <a href="~/E_Counter/ViewCounter" class="navbar-brand">
                    <img class="image-set" src="~/Images/1.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="~/E_Bill" class="navbar-brand">
                    <h4 style="margin-top:40px" >كشف حساب</h4>
                </a>

            </div>
            <div class="col-md-6">
                <a href="~/E_Bill" class="navbar-brand">
                    <img style="margin-top:25px" class="image-set" src="~/Images/2.png" />
                </a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <h2>خدمات الهاتف</h2>
        <div class="row">
            <div class="col-md-6">
                <a href="~/P_Counter" class="navbar-brand">
                    <h4>سجل الاتصالات</h4>
                </a>

            </div>
            <div class="col-md-6">
                <a href="~/P_Counter" class="navbar-brand">
                    <img class="image-set" src="~/Images/1.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="~/P_Bill" class="navbar-brand">
                    <h4 style="margin-top:40px">قائمة الفواتير</h4>
                </a>

            </div>
            <div class="col-md-6">
                <a href="~/P_Bill" class="navbar-brand">
                    <img style="margin-top:25px" class="image-set" src="~/Images/2.png" />
                </a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <h2>خدمات المياه</h2>
        <div class="row">
            <div class="col-md-6">
                <a href="~/Home/Water_View" class="navbar-brand">
                    <h4>الاستعلام عن الاستهلاك</h4>
                </a>

            </div>
            <div class="col-md-6">
                <a href="~/Home/Water_View" class="navbar-brand">
                    <img class="image-set" src="~/Images/1.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="~/Home/Water_View" class="navbar-brand">
                    <h4 style="margin-top:40px">كشف حساب</h4>
                </a>

            </div>
            <div class="col-md-6">
                <a href="~/Home/Water_View" class="navbar-brand">
                    <img style="margin-top:25px" class="image-set" src="~/Images/2.png" />
                </a>
            </div>
        </div>
    </div>
</div>