@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Water view";
}
<h2>عذراً، هذه الميزة ليست متاحة حالياً</h2>
<h3>@ViewBag.Message</h3>

<p>سيتم العمل على تفعيل هذه الميزة في الآفاق المستقبلية.</p>

